# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native builds
/android
/ios
.kotlin/

# Certificates & keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro / debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Misc
app-example

google-services.json

